name = "mcp-google-docs"
main = "src/index.ts"
compatibility_date = "2025-04-01"
compatibility_flags = ["nodejs_compat"]

[vars]
GOOGLE_CLIENT_ID = ""
APP_URL = "http://localhost:8787"

[[kv_namespaces]]
binding = "TOKENS"
id = ""
preview_id = ""

[[kv_namespaces]]
binding = "CLIENTS"
id = ""
preview_id = ""
